In [ ]:
# Data Types
"""
Numbers
Strings
Booleans

Lists
Tuples
Sets

Dictionaries
"""

In [ ]:
var1 = 1
var2 = "str"

In [ ]:
"""
    name  numbers
1   oinky  123, 4321
2   poinky 900
"""

In [3]:
# Numbers
"""
exp- **
div- /, //
    
"""
3 / 2
5 // 2

2

In [37]:
# Sequences
# Strings, lists, tuples

# Indexing-
"boinky"[0]
"boinky"[-1]
"boinky"[-2]

# Slicing-
"mickey"[2:5]
"mickey"[2:]
"mickey"[:4]

"mickey"[0:-1:2]
# Start, Stop, Step

"mickecy".index('c') # Methods

len("mickey") # Functions
# len() is built-in function

list1 = [2, 4, 1]
sorted(list1)
print(list1)
# Built-in

list2 = [4, 6, 1]
list2.sort()
print(list2)

"mickey" + "mouse"
"oi" * 5

[2, 4, 1]
[1, 4, 6]

'oioioioioi'

In [18]:
name='asd'
name.index('a')

0

In [26]:
# Strings
"""
.upper()
.startswith()
.find(value)
.replace(old, new)
.isalpha()
.isnumeric()
"""

"mickey mouse".split(' ')
" ".join(['mickey', 'mouse'])

'mickey mouse'

In [33]:
# List
"""
.append(value)
.insert(index, value)
.pop(value)
.remove(value)  # Only first occurence
"""

list1 = [1,2,3,4]
list1.append(5)
print(list1)

list2 = [10,20,30,40,20]
list2.remove(20)
print(list2)

list3 = [1, "asd", list1]
print(list3)

[1, 2, 3, 4, 5]
[10, 30, 40, 20]
[1, 'asd', [1, 2, 3, 4, 5]]

In [34]:
# Tuples
tup1 = (1,2,3)
tup1.append(5)
print(tup1)
# Can't modify existing object

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
tup1 = (1,2,3, [10,20,30])
print(tup1)

dict1 = {tup1: 10}

(1, 2, 3, [10, 20, 30])

TypeError: unhashable type: 'list'

In [42]:
var1, var2, var3 = 1, 2, 3
# (var1, var2, var3) = (1, 2, 3)
print(var1, var2, var3)

1 2 3

In [54]:
# Dictionaries

{'key':'val',}

dict(key1 = 'val1', key2 = 'val2')

dict([("Hello" , 7), ("hi" , 10)])

listNames = ['asd', 'zcx']
listNum = [123, 345]